.container {
    padding-top: 1rem;
}

.monospace {
    font-family: monospace, monospace;
}

.button.active,
button.active,
input[type="submit"].active,
input[type="reset"].active,
input[type="button"].active {
    border-color: #000000;
}

button:disabled,
button[disabled] {
    border-color: #ccc;
    color: #ccc;
}

.button.mr-1,
button.mr-1,
input[type="submit"].mr-1,
input[type="reset"].mr-1,
input[type="button"].mr-1 {
    margin-right: 1rem;
}

.button.big-circle,
button.big-circle,
input[type="submit"].big-circle,
input[type="reset"].big-circle,
input[type="button"].big-circle {
    height: 72px;
    width: 72px;
    padding: 0;
    border-radius: 50%;
}

table.borderless th,
table.borderless td {
    border-bottom: none;
}

table.compact th,
table.compact td {
    padding: 4px 4px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

label.muted, p.muted, .muted, .text-muted {
    font-weight: normal;
    color: #a0a0a0;
    font-size: 1.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.p-0, tr.p-0 td {
    padding: 0;
}

.tl-fixed {
    table-layout: fixed;
}

.small {
    font-size: 80%;
}

.py-5p {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}

table.border-1 td, table.border-1 th {
    border: 1px solid #E1E1E1;
}

.t9 {
    padding: 3px;
    border: 1px solid transparent;
}

.t9.highlight {
    border: 1px solid black;
}

table.cursor-pointer td, table.cursor-pointer th {
    cursor: pointer;
}

.dark,
.dark .button,
.dark button:not(.button-primary),
.dark input[type="submit"],
.dark input[type="reset"],
.dark input[type="button"],
.dark input[type="email"],
.dark input[type="number"],
.dark input[type="search"],
.dark input[type="text"],
.dark input[type="tel"],
.dark input[type="url"],
.dark input[type="password"],
.dark textarea,
.dark select,
code {
    background-color: #333333;
    color: #e8e8e8;
}